body {
	padding-top: 50px;
  overflow-x: hidden;
}
.navbar-inverse {
	background-color: rgba(0,100,0,.5); /*#006400;*/
  border: 0;
  z-index: -2;
}
.navbar-inverse .container {
  z-index: 1;
}

canvas {
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  margin-left: -25%;
}

#override-carousel {
  position: absolute;
  object-fit: cover; /* Makes the image maintain pixel ratio and crops instead of stretching */
  top: 0;
  left: 0;
  /* Images will fill the whole container */
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; /* Hides any overflow */
}


/* Only runs when screen width is minimum of 800 px */

@media screen and (min-width: 800px) {
  #override-carousel {top: -30%;} /* Centers the image for wide screens */
}
@media (min-width: 768px) {
.navbar-wrapper .navbar {
	border-radius: 0px;
}
}